{% extends 'base.html' %}

{% block content %}
        <div id="post-create">
        <p class="alert"></p>
        <form action="{% url 'post.update.validation' post.id %}" id="post-form-update" data-current-route="{% url 'post.update.form' post.id %}"
              data-route-redirect="{% url 'post.update.form' post.id %}"
              method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label for="id_title">Title</label>
                <input type="text" name="title" id="id_title" value="{{ post.title }}">
            </div>
            <div>
                <label for="id_content">Content</label>
                <textarea name="content" id="id_content" cols="30" rows="10">{{ post.content|safe }}</textarea>
            </div>
            <div>
                <label for="id_images">Images</label>
                <input type="file" name="image" id="id_images">
            </div>
             <div>
                <select name="category" id="id_categories">
                    {% for category in categories %}
                        <option value="{{ category.id }}" {% if category.id == post.category_id %} selected {% else %} {% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <input type="checkbox" name="published" id="published" {% if post.published %} checked value="1" {% else %} value="0"{% endif %} />
                <label for="published">Publish post ?</label>
            </div>

            <button type="submit">Save</button>
        </form>
    </div>

{% endblock content %}