{% extends 'base.html' %}

{% block content %}

    <div id="post-create">
        <p class="alert"></p>
        <form action="{% url 'post.create' %}" id="post-form-create" data-current-route="{% url 'post.form' %}"
              data-route-redirect="{% url 'post.all' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <div>
                <select name="category" id="id_categories">
                    <option value="0">-- Choose Category --</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <input type="checkbox" name="published" id="published">
            </div>

            <button type="submit">Save</button>
        </form>
    </div>

{% endblock content %}