{% extends 'base.html' %}

{% block content %}

    <h1>Welcome to post page</h1>
    <table id="post-table" data-route-delete="{% url 'post.delete' %}">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class="post-table">
            {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    {% if post.category %}
                        <td>{{ post.category.name }}</td>
                    {% else %}
                        <td>No category</td>
                    {% endif %}
                    <td>
                        <a href="{% url 'post.update.form' post.id %}">Modifier</a>
                        <button data-item-id="{{ post.id }}" type="submit" class="post-delete">Supprimer</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}