{% extends 'base.html' %}

{% block content %}

    <section class="post-detail-container" id="post-detail">
        <div class="post-detail-bg-img">
        </div>
        <div class="post-detail-content">
            <div style="width: 100%; display: flex; justify-content: center; align-items: center; padding: 50px 0px">
                <h3 style="font-size: 2.5em">Test 2</h3>
            </div>
            <section class="post-detail-content-text">
                <div style="width: 70%; display: flex; justify-content: center; align-items: center;">
                    <article>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur beatae commodi dicta eaque et facere fugit iste itaque mollitia neque omnis perspiciatis praesentium, quidem quo recusandae rerum tempore totam ut?. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi commodi expedita itaque iure maxime minima numquam ratione suscipit voluptatem! Eius ex, quaerat? Alias, esse ipsum? Aperiam facere provident quos? Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet asperiores deserunt dolor ducimus, earum, eos esse et illum soluta temporibus tenetur ullam veritatis! Eligendi et eum nisi quasi sequi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus expedita neque quae repudiandae! Accusamus accusantium amet eaque, eligendi eos eveniet ex hic, ipsa labore pariatur, sequi similique veniam voluptatem voluptatibus!
                    </article>
                </div>
            </section>
            <section class="post-detail-images-container">
                <div class="card-container card-container-3">
                    <div class="post-detail-image">
                    </div>
                    <div class="post-detail-image">
                    </div>
                    <div class="post-detail-image">
                    </div>
                </div>
            </section>

            {# Block users comments #}
            <section class="post-detail-comments-container">
                <div class="post-details-comments">
                    <div class="user-comments">
                        <div class="user-comment-img">
                            <img src="../../../../media/images/unknown.png" alt="">
                        </div>
                        <div class="user-comment-content">
                            <article>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quidem reprehenderit tenetur totam ullam vitae. Aperiam et excepturi in nihil perspiciatis, quaerat. Atque cum eligendi eos, eum modi quidem sunt!
                            </article>
                        </div>
                    </div>
                    <div class="user-comments">
                        <div class="user-comment-img">
                            <img src="../../../../media/images/unknown.png" alt="">
                        </div>
                        <div class="user-comment-content">
                            <article>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quidem reprehenderit tenetur totam ullam vitae. Aperiam et excepturi in nihil perspiciatis, quaerat. Atque cum eligendi eos, eum modi quidem sunt!
                            </article>
                        </div>
                    </div>
                    <div class="user-comments">
                        <div class="user-comment-img">
                            <img src="../../../../media/images/unknown.png" alt="">
                        </div>
                        <div class="user-comment-content">
                            <article>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quidem reprehenderit tenetur totam ullam vitae. Aperiam et excepturi in nihil perspiciatis, quaerat. Atque cum eligendi eos, eum modi quidem sunt!
                            </article>
                        </div>
                    </div>
                </div>
            </section>

            <section class="post-detail-comment-form">
                <form action="#" id="post-detail-form-comment">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Votre commentaire"></textarea>
                    <button type="submit">Commenter</button>
                </form>
            </section>
        </div>
    </section>

    {% comment %} {% for post in data %}
        <p>{{ post.content }}</p>

    {% endfor %} {% endcomment %}

{% endblock content %}