{% extends 'base.html' %}

{% block content %}

    <h1>Filter posts</h1>

    <input data-category-route="{% url 'post.search.category' %}" data-route-filter="{% url 'post.filter' %}" type="text" name="filter_post" id="filter_post" placeholder="Type...">

    <ul id="list_posts">
        {% for post in posts %}
        <li>
            <a href="{% url 'post.search.category' %}?name={{ post.slug }}">{{ post.title }}</a>
        </li>
        {% endfor %}

    </ul>

{% endblock content %}