{% extends 'base.html' %}

{% block content %}

    <div style="display: flex; width: 100%; justify-content: center; align-items: center; flex-direction: column">
        <div>
            <h1>Tous les {{ category_name }}</h1>
        </div>
        <div class="card-container card-container-4 unset-height-important">
        <a href="#" class="card-card card-not-animated border-rounded-35">
            <div class="card-img">
                <img src="../../../../media/images/emploi.jpg" alt="">
            </div>
            <div class="card-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam consectetur corporis cupiditate ea, fugiat fugit harum impedit, magnam, nam nisi quae quo repudiandae! Dicta dolores exercitationem fugit minus veritatis!
                </p>
            </div>
        </a>
        <a href="#" class="card-card card-not-animated border-rounded-35">
            <div class="card-img">
                <img src="../../../../media/images/emploi.jpg" alt="">
            </div>
            <div class="card-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam consectetur corporis cupiditate ea, fugiat fugit harum impedit, magnam, nam nisi quae quo repudiandae! Dicta dolores exercitationem fugit minus veritatis!
                </p>
            </div>
        </a>
        <a href="#" class="card-card card-not-animated border-rounded-35">
            <div class="card-img">
                <img src="../../../../media/images/emploi.jpg" alt="">
            </div>
            <div class="card-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam consectetur corporis cupiditate ea, fugiat fugit harum impedit, magnam, nam nisi quae quo repudiandae! Dicta dolores exercitationem fugit minus veritatis!
                </p>
            </div>
        </a>
        <a href="#" class="card-card card-not-animated border-rounded-35">
            <div class="card-img">
                <img src="../../../../media/images/services-nationaux.jpg" alt="">
            </div>
            <div class="card-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam consectetur corporis cupiditate ea, fugiat fugit harum impedit, magnam, nam nisi quae quo repudiandae! Dicta dolores exercitationem fugit minus veritatis!
                </p>
            </div>
        </a>
        <a href="#" class="card-card card-not-animated border-rounded-35">
            <div class="card-img">
                <img src="../../../../media/images/emploi.jpg" alt="">
            </div>
            <div class="card-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam consectetur corporis cupiditate ea, fugiat fugit harum impedit, magnam, nam nisi quae quo repudiandae! Dicta dolores exercitationem fugit minus veritatis!
                </p>
            </div>
        </a>
    </div>
    </div>

    {# Pagination #}

    {% comment %}<div class="pagination">
        <span class="step-links">
            {% if page_object.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_object.previous_page_number }}">previous</a>
            {% endif %}
        </span>

        <span class="current">
            Page {{ page_oject.number }} of {{ page_object.paginator.num_pages }}.
        </span>

        {% if page_object.has_next %}
            <a href="?page={{ page_object.next_page_number }}">next</a>
            <a href="?page={{ page_object.paginator.num_pages }}">last &quot;</a>
        {% endif %} 
    </div> {% endcomment %}
{% endblock content %}