.card-container {

  .card-card, .card-not-animated {
    background-color: $card-background-color;
    height: 17vw;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 35px;
    text-decoration: none;
    color: #000000;
    @include box_shadow();

    .card-img {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .card-content {
      padding: 15px;
      text-align: left;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

  .card-not-animated {
      height: 33vw;
  }
}

.big-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 40px 0px;

  .card-big-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    background-color: $card-background-color;
    transition: .3s ease-in;
    height: 357px;
    text-decoration: none;
    color: #000;

    .card-big-img {
      width: 95%;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .card-big-content {
      width: 100%;
      padding: 0px 21px;
      display: flex;
      flex-direction: column;

      .card-big-content-text {
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: #000;
          margin: 20px 0px;
        }
      }

      .card-big-content-reactions {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        .card-big-content-people-reactions {
          display: flex;
          flex-direction: row;
          width: 50%;

          .card-likes {
            padding-right: 30px;
          }
        }
      }
    }

    &:hover {
      transform: scale(0.97);
    }
  }
}

@include media-breakpoint-down(md) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
    height: 100%;

    .card-card {
      height: 40vw;
    }
  }

  .big-card-container {
    .card-big-container {

      .card-big-img {
        height: 100%;

        img {
          height: 100%;
        }
      }
    }
  }
}


@include media-breakpoint-down(sm) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    height: 100%;

    .card-card {
      height: 63vh;
      margin: 10px 0;
      .card-img {
        height: 218px;
      }

      .card-content {
        padding: 10px;
        text-align: left;
        line-height: 1.1rem;
      }
    }
  }

  .big-card-container {
    .card-big-container {
      width: 87%;
    }
  }
}

/*@media (min-width: 1040px) {
  .card-container {

    .card-card {
      transition: height .3s ease-in-out;

      .card-content {
        visibility: hidden;
        transition: visibility .4s ease-in-out;
      }

      &:hover {
        height: 30vw;
        .card-content {
          visibility: visible;
        }
      }
    }
  }

}
*/

@media (min-width: 768px) and (max-width: 810px) {
   .card-container {
     height: 100%;
      .card-card {
        height: 47vw;
      }
   }

  .big-card-container {
    .card-big-container {
      width: 87%;
    }
  }
}

@media (min-width: 810px) and (max-width: 889px) {
   .card-container {
     height: 100%;
    .card-card, .card-not-animated {
      height: 44vw;
    }
  }

}

@media (min-width: 0px) and (max-width: 576px) {
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .card-card {
      width: 78%;
      height: 445px;
      overflow: hidden;
      border-radius: 35px;

      .card-img {
        height: 100%;
        width: 100%;

      }
    }
  }

  .big-card-container {
    .card-big-container {
      width: 78%;
      justify-content: flex-start;
      height: 485px;
      flex-direction: column;

      .card-big-img {
        width: 100%;
        height: 66%;

        img {
          height: 90%;
        }
      }
    }
  }
}
