@media (min-width: 1040px) {
  .card-container-animate {

    .card-card {
      transition: height .3s ease-in-out;

      .card-content {
        visibility: hidden;
        transition: visibility .4s ease-in-out;
      }

      &:hover {
        height: 30vw;
        .card-content {
          visibility: visible;
        }
      }
    }
  }

}