{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="home-container" class="overflow-hidden">
        <!--======= New post ========-->
        <div class="big-card-container">
            <a href="" class="card-big-container border-rounded-35 overflow-hidden box-shadow">
                <div class="card-big-img">
                    <img src="media/images/emploi.jpg" alt="">
                </div>
                <article class="card-big-content">
                    <div class="card-big-content-text">
                        <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur dolore, dolorem earum enim nemo nesciunt non saepe unde voluptate! A, ea illo incidunt maxime molestias quasi sint veritatis voluptatum.
                        </p>
                    </div>
                    <div class="card-big-content-reactions">
                        <div class="card-big-content-people-reactions">
                            <div class="card-likes">
                                <span>
                                    <small>32</small> <i class="fas fa-heart"></i>
                                </span>
                            </div>
                            <div class="card-comments">
                                <span>
                                    <small>15</small> <i class="fas fa-comments"></i>
                                </span>
                            </div>
                        </div>
                        <div class="card-big-time">
                            <span class=card-time>
                                <time datetime="2021">2021</time>
                            </span>
                        </div>
                    </div>
                </article>
            </a>
        </div>

        <!--======= Others posts ========-->
        <div style="width: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
            <div style="padding: 30px 0px;">
                <h2 style="font-size: 2.2em; font-family: sans-serif">Les derniers posts</h2>
            </div>
            <div id="card-container" class="card-container card-container-4 card-container-animate">

                <a href="#" class="card-card border-rounded-35">
                    <div class="card-img">
                        <img src="media/images/services-nationaux.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam consectetur corporis cupiditate ea, fugiat fugit harum impedit, magnam, nam nisi quae quo repudiandae! Dicta dolores exercitationem fugit minus veritatis!
                        </p>
                    </div>
                </a>
                <a href="#" class="card-card border-rounded-35">
                    <div class="card-img">
                        <img src="media/images/emploi.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam consectetur corporis cupiditate ea, fugiat fugit harum impedit, magnam, nam nisi quae quo repudiandae! Dicta dolores exercitationem fugit minus veritatis!
                        </p>
                    </div>
                </a>
                <a href="#" class="card-card border-rounded-35">
                    <div class="card-img">
                        <img src="media/images/services-nationaux.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam consectetur corporis cupiditate ea, fugiat fugit harum impedit, magnam, nam nisi quae quo repudiandae! Dicta dolores exercitationem fugit minus veritatis!
                        </p>
                    </div>
                </a>
                <a href="#" class="card-card border-rounded-35">
                    <div class="card-img">
                        <img src="media/images/services-nationaux.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam consectetur corporis cupiditate ea, fugiat fugit harum impedit, magnam, nam nisi quae quo repudiandae! Dicta dolores exercitationem fugit minus veritatis!
                        </p>
                    </div>
                </a>
            </div>
        </div>

        <!--======= Parallax divider ========-->
        <div class="parallax-divider">
        </div>

        <!--======= The most popular posts ========-->
        <div style="width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column">
            <div style="padding: 30px 0px">
                <h2 style="font-size: 2.2em; font-family: sans-serif">Les plus populaires</h2>
            </div>
            <div class="card-container card-container-3">
                <a href="#" class="card-card card-not-animated border-rounded-35">
                    <div class="card-img">
                        <img src="media/images/emploi.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam consectetur corporis cupiditate ea, fugiat fugit harum impedit, magnam, nam nisi quae quo repudiandae! Dicta dolores exercitationem fugit minus veritatis!
                        </p>
                    </div>
                </a>
                <a href="#" class="card-card card-not-animated border-rounded-35">
                    <div class="card-img">
                        <img src="media/images/services-nationaux.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam consectetur corporis cupiditate ea, fugiat fugit harum impedit, magnam, nam nisi quae quo repudiandae! Dicta dolores exercitationem fugit minus veritatis!
                        </p>
                    </div>
                </a>
                <a href="#" class="card-card card-not-animated border-rounded-35">
                    <div class="card-img">
                        <img src="media/images/services-nationaux.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam consectetur corporis cupiditate ea, fugiat fugit harum impedit, magnam, nam nisi quae quo repudiandae! Dicta dolores exercitationem fugit minus veritatis!
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}