<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Blog | {{ title }}</title>
    <link rel="stylesheet" href="{% static 'app.min.scss.css' %}">
    <script src="{% static 'app.min.js' %}" defer></script>
</head>
<body>

    {% include 'header.html' %}
    
    <main>
        {% block content %} {% endblock content %}
    </main>

    {% include 'footer.html' %}

<script src="https://kit.fontawesome.com/5ed943be7f.js" crossorigin="anonymous"></script>
</body>
</html>