<footer>
    <div class="footer">
        <div class="footer-left">
            <h2>LOGO</h2>
        </div>
        <div class="footer-middle">
            <ul class="footer-list">
                <li class="footer-list-item">
                    <a href="#">Acceuil</a>
                </li>
                <li class="footer-list-item">
                    <a href="#">Rechercher</a>
                </li>
                <li class="footer-list-item">
                    <a href="#">A propos</a>
                </li>
                <li class="footer-list-item">
                    <a href="#">Nous contacter</a>
                </li>
            </ul>
        </div>
        <div class="footer-right">
            <ul class="footer-list">
                <li class="footer-list-item">
                    <a href="#">Termes et conditions</a>
                </li>
                <li class="footer-list-item">
                    <p>&copy; <time datetime="{% now 'Y' %}">{% now 'Y' %}</time>. Tous droits réservés.</p>
                </li>
            </ul>
        </div>
    </div>
</footer>