<nav id="navbar" class="navbar-nav">
    <div class="navbar-container">
        <div id="nav-links" class="nav-links">
            <ul>
                <li>
                    <a href="#">Accueil</a>
                </li>
                <li>
                    <a href="#" class="link-bordered" id="search-button">Rechercher</a>
                </li>
                <li>
                    <a href="#">A propos</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="#" class="link-bordered">Connexion</a>
                </li>
            </ul>
        </div>

        <div id="nav-search" class="nav-search display-none">
            <form data-post-detail="{% url 'post.detail' %}" data-post-category={% url 'post.by.category' %}
                action="{% url 'home.post.search.category' %}" method="post" id="home-search-filter" autocomplete="off">
                {% csrf_token %}
                <div class="search-bar">
                    <input type="text" name="search" id="search" placeholder="Rechercher...">
                    <button type="submit">Recherche</button>
                </div>
            </form>
            <div id="search-results">
                <div class="search-results-container">
                    <ul class="search-results-content" id="home_search_list">

                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
