@mixin box_shadow {
  border: 2px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 4px 4px 6px 0 rgb(0 0 0 / 10%), -4px -4px 6px white;
  box-shadow: 4px 4px 6px 0 rgb(0 0 0 / 10%), -4px -4px 6px #F3F3F3;
}

@mixin box_shadow_no_border {
  -webkit-box-shadow: 4px 4px 6px 0 rgb(0 0 0 / 10%), -4px -4px 6px white;
  box-shadow: 4px 4px 6px 0 rgb(0 0 0 / 10%), -4px -4px 6px #F3F3F3;
}
