.footer {
  width: 100%;
  background-color: #F0F0F0;
  height: 28vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-middle, .footer-right {
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-list {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .footer-list-item {
        padding-top: 10px;
        text-align: center;

        a {
          text-decoration: none;
          color: #535353;
          &::after {
            content: "";
            width: 0%;
            height: 2px;
            background-color: #000;
            display: block;
            transition: width .3s ease;
          }
          &:hover::after {
            width: 100%;
          }
        }

        p {
          color: #696969;
        }
      }
    }
  }
}