#navbar {

  width: 100%;

  .navbar-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    div {
      width: 100%;
    }

    #nav-links {
      height: 70px;
      ul {
        padding-right: 70px;
        display: flex;
        list-style: none;
        justify-content: flex-end;
        align-items: center;
        height: 100%;

        li {
          padding: 0px 15px;
          a {
            font-family: sans-serif;
            text-decoration: none;
            color: #5C556C;
            &.link-bordered {
              padding: 15px 15px;
              border-radius: 25%;
              @include box_shadow();
              transition: 0.2s ease-out;
              &:hover {
                transform: scale(1.5);
                box-shadow: 4px 4px 10px 0 rgba(0,0,0,.2), -4px -4px 10px rgba(255,255,255,1.2);
              }
              &:focus {
                outline: none;
                transform: scale(0.95);
                box-shadow: 4px 4px 10px 0 rgba(0,0,0,.1), -4px -4px 10px rgba(255,255,255,1),
                4px 4px 10px 0 rgba(0,0,0,.1) inset, -4px -4px 10px rgba(255,255,255,1) inset;
              }
            }
          }

        }

      }

    }

  }

}