
.parallax-divider {
  height: 30vw;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../dist/images/bureau.jpg');
  background-position: right;
  background-attachment: fixed;

  &::after {
    content: "";
    background-color: #000000;
    display: block;
    height: 100%;
    opacity: 0.2;
  }
}
