.navbar-container {

  #nav-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3% 0;

    form#home-search-filter {
      width: 100%;
      display: flex;
      justify-content: center;
      opacity: 0;
      transition: opacity 1.1s;

      .search-bar {
        width: 80%;
        height: 50px;
        display:flex;
        flex-direction:row;
        padding:2px;
        @include box_shadow();

        input {
          width: 100%;
          height: 100%;
          border: none;

          &:focus {
            outline: none;
          }
        }

        button {
          border: none;
          padding: 10px;
        }
      }
    }

    div#search-results {
      display: flex;
      justify-content: center;

      .search-results-container {
        display: flex;
        justify-content: flex-start;
        padding: 2px;
        border: 2px solid rgba(255, 255, 255, 0.3);
        -webkit-box-shadow: 4px 4px 6px 0 rgb(0 0 0 / 10%), -4px -4px 6px white;
        box-shadow: 4px 4px 6px 0 rgb(0 0 0 / 10%), -4px -4px 6px #f3f3f3;
        width: 80%;
        background-color: rgba(255, 255, 255, 0.3);
        visibility: hidden;

        .search-results-content {
          display: flex;
          width: 100%;
          flex-direction: column;
          list-style: none;
          max-height: 30vh;
          overflow-y: auto;

          .search-results-item {
            display: flex;
            width: 100%;
            padding: 2px 0px;
            .search-results-item-link {
              -webkit-box-shadow: 4px 4px 6px 0 rgb(0 0 0 / 10%), -4px -4px 6px white;
              box-shadow: 4px 4px 6px 0 rgb(0 0 0 / 10%), -4px -4px 6px #f3f3f3;
              width: 100%;
              background-color: rgba(255, 255, 255, 0.3);
              text-decoration: none;
              font-size: 1.2em;
              font-family: sans-serif;
              color: #393939;
              padding: 5px 0px;

              &:hover {
                background-color: #E8EBF1;
              }
            }
          }
        }
      }
    }
  }
}