* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  background-color: #F9F9F9;
}

#post-detail {

  .post-detail-bg-img {
    height: 100vh;
    background-image: url("../../dist/images/bureau.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }

  .post-detail-content {
    .post-detail-content-text {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding-bottom: 40px;

      article {
        line-height: 1.3rem;
        font-family: sans-serif;
      }
    }
    .post-detail-images-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      .post-detail-image {
        height: 300px;
        width: 100%;
        background-image: url("../../dist/images/bureau.jpg");
        background-size: cover;
        background-position: center center;
        @include box_shadow()
      }
    }

    .post-detail-comments-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 30px;

      .post-details-comments {
        width: 80%;
        padding: 20px;
        background: #EEEEEE;

        .user-comments {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          padding-top: 10px;

          .user-comment-img {
            width: 70px;
            height: 50px;
            border-radius: 35px;
            overflow: hidden;
            margin-right: 20px;

            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }

    .post-detail-comment-form {
      width: 100%;
      display: flex;
      justify-content: center;

      #post-detail-form-comment {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        textarea {
          width: 100%;
          margin-bottom: 20px;
        }

        button {
          width: 30%;
          height: 45px;
          border-radius: 35px;
          margin-bottom: 50px;
          background: #282828;
          color: #fff;
          font-size: 1.1em;
        }
      }
    }
  }
}