.overflow-hidden {
  overflow: hidden;
}

.display-none {
  display: none !important;
}

.border-rounded-35 {
  border-radius: 35px;
}

.unset-height-important {
  height: unset !important;
}

.box-shadow {
  @include box_shadow_no_border();
}

.card-container-4 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(100px, auto);
  grid-gap: 8px;
  padding: 10px 0px;
  margin-left: 8px;
  height: 33vw;
}

.card-container-3 {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(100px, auto);
  grid-gap: 8px;
  padding: 30px 0px 50px 0px;
}