{% extends 'base.html' %}

{% block content %}


    <div class="container">
        <section class="left">
            <div>
                <h2>TEST1</h2>
            </div>
        </section>
        <section class="right">
            <div class="nom">
                <h2>TEST 2</h2>
            </div>
        </section>
    </div>
{% endblock content %}