{% extends 'base.html' %}


{% block content %}
    <div id="category-create">
        <p class="alert"></p>
        <form action="{% url 'category.create' %}" method="post" id="form-create-category" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            {% endfor %}
            <button type="submit">Save</button>
        </form>
    </div>
{% endblock content %}